.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.output1 {
    border: 1px solid #000000;
    width: 200px;
    height: 200px;
}

.action {
    margin: 10px;
}

button{
    cursor: pointer;
}